/* Centers contents of the main div */ 
#main{
    vertical-align: middle;
    width:100%;
    text-align: center;
}

#main section {
    background-size: cover;
    height:100vh;
    width: 100vw;
    display: table;
}

#navbar {
    display: flex;
    justify-content: center;
    /* Removes the bullets */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-family: 'Merriweather Sans', sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
/* Adds spacing between each of the types */ 
header #navbar li {
    margin-left: 2.5rem;
}

li {
    float: left;
    font-family: 'Merriweather Sans', sans-serif;
    list-style-type: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
}

li a:hover {
    color: #44c56f;
    font-family: 'Merriweather Sans', sans-serif;
    text-decoration: underline;
    text-underline-offset: 10px;
}

/* Center Icons */
.social-media {
    display: flex;
    justify-content: center;
}

#home {
    /* add padding to the top of the home section */ 
    padding-top: 20px;
}