/* Centers contents of the main div */ 
#main{
    vertical-align: middle;
    width:100%;
    text-align: center;
}

#main section {
    background-size: cover;
    height:100vh;
    width: 100vw;
    display: table;
}

#navbar {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #f5f6f5;
    font-family: 'Merriweather Sans', sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
/* Adds spacing between each of the types */ 
header #navbar li {
    margin-left: 2.5rem;
}

li {
    float: left;
    font-family: 'Merriweather Sans', sans-serif;
    list-style-type: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
}

li a:hover {
    color: #44c56f;
    font-family: 'Merriweather Sans', sans-serif;
    text-decoration: underline;
    text-underline-offset: 10px;
}

/* Center Icons */
.social-media {
    display: flex;
    justify-content: center;
}

#home {
    /* add padding to the top of the home section */ 
    padding-top: 20px;
    /* background-color: #f5f6f5; */
}


/** Type writting
credit to: https://usefulangle.com/post/85/css-typewriter-animation
**/
.typewriter {
    font-family: Courier, monospace;
	display: inline-block;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}
